messaging/wsdl/ClientServiceContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- @editor-info:link autogen="true" source="ClientService.jws" -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://msd.govt.nz/client" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://msd.govt.nz/client">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://msd.govt.nz/client" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:cli="http://msd.govt.nz/client" xmlns:not="http://msd.govt.nz/client/notes">
      <s:import namespace="http://msd.govt.nz/client/notes"/>
      <s:element name="minimalDetails">
        <s:complexType>
          <s:sequence>
            <s:element ref="cli:minimalClientDetailsRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="minimalDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element ref="cli:minimalClientDetailsResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNote">
        <s:complexType>
          <s:sequence>
            <s:element ref="not:createBasicNoteRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNoteResponse">
        <s:complexType>
          <s:sequence/>
        </s:complexType>
      </s:element>
    </s:schema>
    <schema targetNamespace="http://msd.govt.nz/client" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://msd.govt.nz/client" xmlns:c="http://msd.govt.nz/common">
      <import namespace="http://msd.govt.nz/common"/>
      <element name="minimalClientDetailsRequest">
        <complexType>
          <sequence>
            <element name="swn" type="c:swn" minOccurs="1" maxOccurs="unbounded"/>
            <element name="invokingUser" type="c:modifiedByUser" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <element name="minimalClientDetailsResponse">
        <complexType>
          <sequence>
            <element name="client" type="tns:minimumClientDetails" minOccurs="1" maxOccurs="unbounded"/>
            <element name="unmatchedSwns" minOccurs="1" maxOccurs="1">
              <complexType>
                <sequence>
                  <element name="swn" type="c:swn" minOccurs="1" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <complexType name="minimumClientDetails">
        <sequence>
          <element name="swn" type="c:swn" minOccurs="1" maxOccurs="1"/>
          <element name="name" minOccurs="1" maxOccurs="1">
            <complexType>
              <sequence>
                <element name="title" type="tns:title" minOccurs="0" maxOccurs="1"/>
                <element name="givenName" type="tns:givenName" minOccurs="0" maxOccurs="1"/>
                <element name="otherGivenName" type="tns:otherGivenName" minOccurs="0" maxOccurs="1"/>
                <element name="familyName" type="tns:familyName" minOccurs="0" maxOccurs="1"/>
              </sequence>
            </complexType>
          </element>
          <element name="address" minOccurs="1" maxOccurs="1">
            <complexType>
              <sequence>
                <element name="addressLine1" type="tns:addressLine1" minOccurs="0" maxOccurs="1"/>
                <element name="suburbName" type="tns:suburbName" minOccurs="0" maxOccurs="1"/>
                <element name="cityName" type="tns:cityName" minOccurs="0" maxOccurs="1"/>
              </sequence>
            </complexType>
          </element>
          <element name="secure" type="tns:secure" minOccurs="1" maxOccurs="1"/>
        </sequence>
      </complexType>
      <!--  simple type definitions -->
      <simpleType name="title">
        <restriction base="string">
          <maxLength value="40"/>
        </restriction>
      </simpleType>
      <simpleType name="givenName">
        <restriction base="string">
          <maxLength value="30"/>
        </restriction>
      </simpleType>
      <simpleType name="otherGivenName">
        <restriction base="string">
          <maxLength value="60"/>
        </restriction>
      </simpleType>
      <simpleType name="familyName">
        <restriction base="string">
          <maxLength value="30"/>
        </restriction>
      </simpleType>
      <simpleType name="secure">
        <restriction base="boolean"/>
      </simpleType>
      <simpleType name="addressLine1">
        <restriction base="string">
          <maxLength value="60"/>
        </restriction>
      </simpleType>
      <simpleType name="suburbName">
        <restriction base="string">
          <maxLength value="60"/>
        </restriction>
      </simpleType>
      <simpleType name="cityName">
        <restriction base="string">
          <maxLength value="60"/>
        </restriction>
      </simpleType>
    </schema>
        <schema targetNamespace="http://msd.govt.nz/client/notes" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:c="http://msd.govt.nz/common" xmlns:tns="http://msd.govt.nz/client/notes">
      <import namespace="http://msd.govt.nz/common"/>
      <element name="createBasicNoteRequest">
        <complexType>
          <sequence>
            <element name="swn" type="c:swn" minOccurs="1" maxOccurs="1"/>
            <element name="subjectTypeId" type="tns:subjectTypeId" minOccurs="1" maxOccurs="1"/>
            <element name="shortDescription" type="tns:description" minOccurs="1" maxOccurs="1"/>
            <element name="noteText" type="tns:noteText" minOccurs="1" maxOccurs="1"/>
            <element name="invokingUser" type="c:modifiedByUser" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <simpleType name="noteText">
        <restriction base="string">
          <maxLength value="4000"/>
        </restriction>
      </simpleType>
      <simpleType name="description">
        <restriction base="string">
          <maxLength value="60"/>
        </restriction>
      </simpleType>
      <simpleType name="subjectTypeId">
        <annotation>
          <documentation>The value of this field should map to a code found in:
				ucviidb::ucv_owner::ucv_note_subject_area_type::type_id</documentation>
        </annotation>
        <restriction base="string">
          <maxLength value="4"/>
        </restriction>
      </simpleType>
    </schema>
        <schema targetNamespace="http://msd.govt.nz/common" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:c="http://msd.govt.nz/common">
      <complexType name="headerProperties">
        <annotation>
          <documentation>headerProperties is used by messages to provide a generic header that
	       	 	allows adhoc details to be added to the document over time</documentation>
        </annotation>
        <sequence>
          <element name="header" minOccurs="1" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element name="property" minOccurs="1" maxOccurs="1" type="string"/>
                <element name="value" minOccurs="1" maxOccurs="1" type="string"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>
      <complexType name="serviceResult">
        <annotation>
          <documentation>serviceResult is used to define the outcome of the service call
        		both information and errors are encapsulated in this interface</documentation>
        </annotation>
        <sequence>
          <element name="result" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element name="code" minOccurs="1" maxOccurs="1" type="integer"/>
                <element name="message" minOccurs="1" maxOccurs="1" type="string"/>
              </sequence>
            </complexType>
          </element>
          <element name="exception" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element name="code" minOccurs="1" maxOccurs="1" type="integer"/>
                <element name="message" minOccurs="1" maxOccurs="1" type="string"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>
      <simpleType name="swn">
        <annotation>
          <documentation>social welfare number is the primary identifier for msd clients</documentation>
        </annotation>
        <restriction base="string">
          <length value="9"/>
          <pattern value="\d{9}"/>
        </restriction>
      </simpleType>
      <simpleType name="coreSystem">
        <annotation>
          <documentation>identifies msd enterprise systems</documentation>
        </annotation>
        <restriction base="string">
          <enumeration value="abt"/>
          <enumeration value="global"/>
          <enumeration value="sal"/>
          <enumeration value="solo"/>
          <enumeration value="swiftt"/>
          <enumeration value="trace"/>
          <enumeration value="ucvii"/>
          <enumeration value="wam"/>
          <enumeration value="cms"/>
        </restriction>
      </simpleType>
      <simpleType name="startDate">
        <restriction base="dateTime"/>
      </simpleType>
      <simpleType name="endDate">
        <restriction base="dateTime"/>
      </simpleType>
      <simpleType name="lastModifiedDate">
        <restriction base="dateTime"/>
      </simpleType>
      <simpleType name="modifiedByUser">
        <restriction base="string">
          <maxLength value="20"/>
        </restriction>
      </simpleType>
      <simpleType name="guid">
        <restriction base="string">
          <!-- pattern value="[09aZAZ]{8}-[09aZAZ]{4}-[09aZAZ]{4}-[09aZAZ]{4}-[09aZAZ]{12}"/-->
          <maxLength value="36"/>
        </restriction>
      </simpleType>
    </schema>

  </types>
  <message name="minimalDetailsSoapIn">
    <part name="parameters" element="s0:minimalDetails"/>
  </message>
  <message name="minimalDetailsSoapOut">
    <part name="parameters" element="s0:minimalDetailsResponse"/>
  </message>
  <message name="createNoteSoapIn">
    <part name="parameters" element="s0:createNote"/>
  </message>
  <message name="createNoteSoapOut">
    <part name="parameters" element="s0:createNoteResponse"/>
  </message>
  <portType name="ClientServiceSoap">
    <operation name="minimalDetails">
      <documentation>This Webservice returns a list of client details based on a list passed in If a client is not found in the provided list, it will be silently not returned</documentation>
      <input message="s0:minimalDetailsSoapIn"/>
      <output message="s0:minimalDetailsSoapOut"/>
    </operation>
    <operation name="createNote">
      <input message="s0:createNoteSoapIn"/>
      <output message="s0:createNoteSoapOut"/>
    </operation>
  </portType>
  <binding name="ClientServiceSoap" type="s0:ClientServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="minimalDetails">
      <soap:operation soapAction="http://msd.govt.nz/client/minimalDetails" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createNote">
      <soap:operation soapAction="http://msd.govt.nz/client/createNote" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClientService">
    <port name="ClientServiceSoap" binding="s0:ClientServiceSoap">
      <soap:address location="http://localhost:7001/client/client/services/ClientService.jws"/>
    </port>
  </service>
</definitions>
